Title: <%= @post.title %><br>
Content: <%= @post.content %><br>
<br>
Categories:
<% @post.categories.each do |c| %>
    <%= c.name %><br>
<% end %>
<br>
Comments: 
<% @post.comments.each do |c| %>
    <p><%= c.user.username %> says: <%= c.content %><br>
<% end %>
<br>
Users:
<% @post.users.uniq.each do |u| %>
    <%= link_to u.username, user_path(u) %><br>
<% end %>
<br>
Add a new comment:
<%= form_for Comment.new do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>
    <br>
    <h4>Select a user</h4>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
    <h4>Enter Username</h4>
    <%= f.fields_for :user, User.new do |u| %>
        <%= u.label :username %>
        <%= u.text_field :username %>
    <% end %>
    <%= f.submit %>
<% end %>